@charset "UTF-8";

$max_width: 1280px;
$max_width_number: 1280;
$max_width_section: 1100px;
$max_width_section_number: 1100;
$hamburger: 1150;

$color_w: white;
$color_0: #333333;
$color_1: #EF4357;
$color_hover: #333333;

$font_0: 'Noto Sans JP', sans-serif;
$font_1: 'Noto Sans JP', sans-serif;
$transition: 0.3s;$max_width: 1280px;